<head>
    <link rel="stylesheet" href="/css/detalhes.css">
</head>

<section class="container-total">
    <div class="conteudo-esquerda">
        <form action="/visualizacao/update" method="post">
            <input type="hidden" name="id" value="{{edit.id}}">
            <h2>Edit task</h2>

            <div class="inputs">
                <div class="inputBox">
                    <input required="" name="nome" type="text" value="{{edit.nome}}">
                    <span>Digite sua tarefa</span>
                </div>

                <div class="inputBox">
                    <input required="" name="data_criacao" type="text" value="{{edit.data_criacao}}">
                    <span>Digite a data</span>
                </div>

                <div class="inputBox">
                    <input required="" name="categoria" type="text" value="{{edit.categoria}}">
                    <span>Digite a categoria</span>
                </div>
            </div>

            <select id="estado" name="estado">
                <option disabled selected>Qual o estado?</option>
                <option value="feito" {{#ifEquals edit.estado 'feito' }}selected{{/ifEquals}}>To do</option>
                <option value="em_progresso" {{#ifEquals edit.estado 'em_progresso' }}selected{{/ifEquals}}>In progress
                </option>
                <option value="pronto" {{#ifEquals edit.estado 'pronto' }}selected{{/ifEquals}}>Done</option>
            </select>

            <select id="nivel_importancia" name="nivel_importancia">
                <option disabled selected>Qual a importância?</option>
                <option value="alto" {{#ifEquals edit.nivel_importancia 'alto' }}selected{{/ifEquals}}>High importance
                </option>
                <option value="medio" {{#ifEquals edit.nivel_importancia 'medio' }}selected{{/ifEquals}}>Medium
                    importance</option>
                <option value="baixo" {{#ifEquals edit.nivel_importancia 'baixo' }}selected{{/ifEquals}}>Low importance
                </option>
            </select>

            <div class="submit-buttons">
                <button type="submit">EDIT</button>
            </div>
        </form>
        <form action="/remove/{{edit.id}}" method="post">
            <input type="submit" value="Remover">
        </form>
    </div>

    <div class="conteudo-direita">
        <h2>Task Details</h2>
        <div class="tarefa">
            <h4>{{edit.nome}}</h4>
            <hr class="hr-edit">

            <div class="conteudo-de-baixo">
                <div class="buttons">
                    <button class="categoria">{{edit.categoria}}</button>
                    {{#ifEquals edit.nivel_importancia 'alto'}}
                    <button class="importance-btn high-importance">High importance</button>
                    {{else ifEquals edit.nivel_importancia 'medio'}}
                    <button class="importance-btn medium-importance">Medium importance</button>
                    {{else ifEquals edit.nivel_importancia 'baixo'}}
                    <button class="importance-btn low-importance">Low importance</button>
                    {{/ifEquals}}
                </div>

                <p>{{edit.data_criacao}}</p>
            </div>


        </div>
    </div>
</section>