<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menu-lateral.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/colunas-tarefas.css">
    <title>Visualização de Tarefas</title>

</head>

<body>
    <section class="conteudo-visualizacao">
        <aside class="menu-lateral">
            <div class="user">
                <a href="/perfil"><img src="/img/user.svg" alt="icone user"></a>
                <p>Welcome back, <strong>{{userName}}!</strong></p>
            </div>
            <hr class="hr-menu">

            <ul>
                <div class="link">
                    <img src="/img/calendar.svg" alt="">
                    <li><a href="#">Calendar</a></li>
                </div>

                <div class="link">
                    <img src="/img/profile.svg" alt="">
                    <li><a href="/perfil?name={{userName}}">My Profile</a></li>
                </div>

                <div class="link">
                    <img src="/img/bell.svg" alt="">
                    <li><a href="/notificacoes?name={{userName}}">Notifacations</a></li>
                </div>

            </ul>
        </aside>

        <div class="conteudo-tarefas">
            <div class="fixed">
                <header>
                    <h3>Task Tracker Drafts</h3>
                    <div class="itens-header">
                        <img src="/img/info.svg" alt="icone informations">
                        <a href="/register">+ Add task</a>
                    </div>
                </header>
                <hr class="hr-header">
                <div class="fade-out"></div>
            </div>



            <div class="colunas">

                <div class="coluna-to-do">
                    <h3>To Do</h3>
                    {{#each toDoTasks}}
                    <div class="card-tarefa">
                        <div class="titulos-task">
                            <h4>{{nome}}</h4>
                            <a href="/visualizacao/{{id}}">View Details</a>
                            <p>{{data_criacao}}</p>
                        </div>

                        <div class="buttons">
                            <button class="categoria">
                                {{categoria}}
                            </button>
                            {{#ifEquals nivel_importancia 'alto'}}
                            <button class="importance-btn high-importance">High importance</button>
                            {{else ifEquals nivel_importancia 'medio'}}
                            <button class="importance-btn medium-importance">Medium importance</button>
                            {{else ifEquals nivel_importancia 'baixo'}}
                            <button class="importance-btn low-importance">Low importance</button>
                            {{/ifEquals}}
                        </div>

                    </div>
                    {{/each}}
                </div>

                <div class="coluna-in-progress">
                    <h3>In Progress</h3>
                    {{#each inProgressTasks}}
                    <div class="card-tarefa">

                        <div class="titulos-task">
                            <h4>{{nome}}</h4>
                            <a href="/visualizacao/{{id}}">View Details</a>
                            <p>{{data_criacao}}</p>
                        </div>

                        <div class="buttons">
                            <button class="categoria">
                                {{categoria}}
                            </button>
                            {{#ifEquals nivel_importancia 'alto'}}
                            <button class="importance-btn high-importance">High importance</button>
                            {{else ifEquals nivel_importancia 'medio'}}
                            <button class="importance-btn medium-importance">Medium importance</button>
                            {{else ifEquals nivel_importancia 'baixo'}}
                            <button class="importance-btn low-importance">Low importance</button>
                            {{/ifEquals}}
                        </div>

                    </div>
                    {{/each}}
                </div>

                <div class="coluna-done">
                    <h3>Done</h3>
                    {{#each doneTasks}}
                    <div class="card-tarefa">
                        <div class="titulos-task">
                            <h4>{{nome}}</h4>
                            <a href="/visualizacao/{{id}}">View Details</a>
                            <p>{{data_criacao}}</p>
                        </div>

                        <div class="buttons">
                            <button class="categoria">
                                {{categoria}}
                            </button>
                            {{#ifEquals nivel_importancia 'alto'}}
                            <button class="importance-btn high-importance">High importance</button>
                            {{else ifEquals nivel_importancia 'medio'}}
                            <button class="importance-btn medium-importance">Medium importance</button>
                            {{else ifEquals nivel_importancia 'baixo'}}
                            <button class="importance-btn low-importance">Low importance</button>
                            {{/ifEquals}}
                        </div>

                    </div>
                    {{/each}}
                </div>
            </div>




        </div>
    </section>


</body>

</html>