<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualização de Tarefas</title>

</head>

<body>
    <section class="conteudo-visualizacao">
        <aside class="menu-lateral">
            <div class="user">
                <img src="/img/user.svg" alt="icone user">
                <p>Welcome back, <strong>User!</strong></p>
            </div>
            {{!--
            <hr> --}}

            <ul>
                <div class="link">
                    <img src="/img/calendar.svg" alt="">
                    <li><a href="#">Calendar</a></li>
                </div>

                <div class="link">
                    <img src="/img/time.svg" alt="">
                    <li><a href="#">Timers</a> </li>
                </div>

                <div class="link">
                    <img src="/img/people.svg" alt="">
                    <li><a href="#">My Teams</a></li>
                </div>

            </ul>
        </aside>

        <div class="conteudo-tarefas">
            <header>
                <h3>Task Tracker Drafts</h3>
                <div class="itens-header">
                    <img src="/img/lupa.svg" alt="lupa">
                    <button>+ Add task</button>
                </div>
            </header>
            <hr>


            <div class="colunas">

                <div class="coluna-to-do">
                    <h3>To Do</h3>
                    {{#each toDoTasks}}
                    <div class="card-tarefa">
                        <div class="titulos-task">
                            <h4>{{nome}}</h4>
                            <a href="/{{!-- AQUIIIIII --}}">View Details</a>
                            <p>{{data_criacao}}</p>
                        </div>

                        <div>
                            <button>{{categoria}}</button>
                            <button>{{nivel_importancia}}</button>
                        </div>
                    </div>
                    {{/each}}
                </div>

                <div class="coluna-in-progress">
                    <h3>In Progress</h3>
                    {{#each inProgressTasks}}
                    <div class="card-tarefa">
                        <div class="titulos-task">
                            <h4>{{nome}}</h4>
                            <a href="/">View Details</a>
                            <p>{{data_criacao}}</p>
                        </div>

                        <div>
                            <button>{{categoria}}</button>
                            <button>{{nivel_importancia}}</button>
                        </div>
                    </div>
                    {{/each}}
                </div>

                <div class="coluna-done">
                    <h3>Done</h3>
                    {{#each doneTasks}}
                    <div class="card-tarefa">
                        <div class="titulos-task">
                            <h4>{{nome}}</h4>
                            <a href="/">View Details</a>
                            <p>{{data_criacao}}</p>
                        </div>

                        <div>
                            <button>{{categoria}}</button>
                            <button>{{nivel_importancia}}</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>




        </div>
    </section>


</body>

</html>